div {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

input.search {
    padding: 10px;
    margin-right: 5px;
    width: 28%;
}

/* Style the submit button */
button {
    float: left;
    width: 8%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 6px;
  }
  
  button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
button::after {
    content: "";
    clear: both;
    display: table;
  }